.row{
    margin: 20px;

}
.movies{
    display: flex;
    height: 150px;
    overflow-x: scroll;
    overflow-y: hidden;


}
.movies::-webkit-scrollbar{
    display: none;
}
.movie{
    width: 100%;
    
    margin-right: 10px;
    transition: transform 450ms;
}
.movie:hover{
    transform: scale(1.25);
}
.largemovie{
  max-height: 400px;
}
